
.top-line { 
	position: absolute;
	z-index: 1;
	top: 0px;
} 

.back-arrow-circle {
	height: 43px;
	width: 43px;
	border-radius: 50%;
	background-color: rgb(56,57,67, 0.171);
}

.back-arrow-circle img {
	position: absolute;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.statistics-panel {
	margin-top: 40px;
	margin-bottom: 20px;
}

.statistic-text {
	margin-top: 2px;
	margin-right: 20px;
}

.active {
	color: rgba(255, 255, 255, 1);
	filter: invert(100%);
}

.months-panel {
	background-color: #060812;	
	height: 54px;
}

.month-box {
     height: 54px;
     width: 75px;
     text-align: center;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
     flex-shrink: 0;
     font-size: 14px;
     fill: #ffffff;
     background-color: #020b24;
     opacity: 1.0;
     font-family: "Lato";
     font-weight: 500;
     transition: ease-in 0.15s;
}

.month-box:hover {
	background-color: #2e0642;
}

.blue-line {
	height: 3px;
	width: 75px;
	background-color: #0B78E3; 
	border-radius: 3px;
	align-items: center;
}

.food-and-restaurants {
	align-items: center;
	position: relative;
	padding-top: 20px;
	padding-bottom: 5px;
}

.fork-icon {
	height: 16px;
	width: 16px;
	color: rgba(255, 255, 255, 1);	
	filter: invert(100%);
	padding-right: 7px;
	margin-top: 2px;
}

.box {
	width: 163px;
	height: 70px;
	border: 0.5px solid;
	border-radius: 5px;
}

.left-box {
	border-color: #0b78e3;
}

.right-box {
	border-color: #ff2366;
}

.blue-cents-line {
	height: 15px;
	width: 15px;
	color: rgba(255, 255, 255, 1);	
	filter: invert(100%);
}

.dollars-container {
	height: 70px;
	widows: 163px;
}

.food-and-restaurants-text {
	margin-bottom: 40px;
	opacity: 0.6;
}

.dollar-text {
	position: relative;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cents-and-arrow {
	padding-top: 18px;
	margin-left: -26px;
}

.cents-and-arrow-right {
	margin-left: -36px;
}

.blue-cents-line {
	height: 20px;
	width: 20px;
	margin-left: -2px;
	margin-top: -1px;
}

.cents-number {
	margin-top: -3px;
}

.circle-chart {
	position: relative;	
	width: 234px;
	height: 251px;
	margin: auto;
	margin-top: 50px;
}

.sector {
	height: 140px;
	width: 140px;
	border-radius: 127px 0 0 0;	
}

.sector.purple {
	position: absolute;	
	background: linear-gradient(#ff2366, #8d4de8);
	top: -21px;
	left: 20px;
	transform: 	rotate(24deg);
}

.sector-purple-background {
	height: 140px;
	width: 140px;
	border-radius: 127px 0 0 0;	
	position: absolute;	
	background-color: #161823;
	top: -21px;
	left: 20px;
	transform: rotate(24deg);
}

.blue-segment {
	position: absolute;
	background: linear-gradient(#6956ec, #56b2ba);
	top: -1px;
	left: 125px;
	transform: 	rotate(165deg);
	height: 216px;
	width: 113px;
	border-bottom-left-radius: 113px;
	border-top-left-radius: 113px;
}

.sector.yellow {
	position: absolute;
	background: linear-gradient(#fd3f2f, #face15);
	top: 137px;
	left: 53px;
	transform: 	rotate(223deg);
}

.sector-yellow-background {
	height: 140px;
	width: 140px;
	border-radius: 127px 0 0 0;	
	position: absolute;
	background-color: #161823;
	top: 137px;
	left: 53px;
	transform: 	rotate(223deg);
}
	
.sector.dark-black {
	position: absolute;
	background-color: #060812;
	top: 42px;
	left: 12px;
	transform: rotate(339deg);
	height: 206px;
	width: 103px;
	border-bottom-left-radius: 103px;
	border-top-left-radius: 103px;
}

.black-circle-middle {
	position: absolute;
	background-color: #161823;
	border-radius: 50% 50% 50% 50%;
	height: 162px;
	width: 162px;
	top: 42px;
	left: 42px;
}

.dollars-and-balance {
	margin-top: 63px;
	margin-left: 8px;
	width: 150px;
	height: 70px; 
}

.dollars-center {
	font-size: 28px;
	fill: #ffffff;
	font-family: "Lato";
	font-weight: 500;
}

.cents-center {
	margin-left: 10px;
}

.balance-center {
	opacity: 0.6;
	margin-top: 4px;
}

.two-points {
	pointer-events: none;
}

.yellow .white-point-full {
	position: absolute;
	height: 24px;
	width: 24px;
	background-color: white;
	border-radius: 50% 50% 50% 50%;
	margin-top: 70px;
	margin-left: -3px;
}

.purple .white-point-hollow {
	position: absolute;
	height: 24px;
	width: 24px;
	border: 0.5px solid white;
	fill: transparent;
	border-radius: 50% 50% 50% 50%;
	margin-top: 38px;
	margin-left: 13px;
}

.purple .white-point-inner {
	position: absolute;
	height: 7px;
	width: 7px;
	background-color: white;
	border-radius: 50% 50% 50% 50%;
	margin-top: 47px;
	margin-left: 22px;
}

.blue-segment .two-white-points {
	margin-left: -16px;
	margin-top: 100px;
}

.blue-segment .white-point-hollow {
	position: absolute;
	height: 24px;
	width: 24px;
	border: 0.5px solid white;
	fill: transparent;
	border-radius: 50% 50% 50% 50%;
	margin-top: 38px;
	margin-left: 13px;
}

.blue-segment .white-point-inner {
	position: absolute;
	height: 7px;
	width: 7px;
	background-color: white;
	border-radius: 50% 50% 50% 50%;
	margin-top: 47px;
	margin-left: 22px;
}
